{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Payment Successful" %}{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h3 class="card-title mb-0">{% trans "Payment Successful" %}</h3>
                </div>
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="fas fa-check-circle text-success" style="font-size: 5rem;"></i>
                    </div>
                    
                    <h4 class="mb-3">{% trans "Thank you for your payment!" %}</h4>
                    <p class="mb-4">{% trans "You have successfully paid for the following item" %}:</p>
                    
                    <div class="product-summary mb-4 p-3 border rounded mx-auto" style="max-width: 500px;">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0">{{ wishlist_item.title }}</h5>
                            {% if payment %}
                                <span class="badge bg-success p-2">{{ payment.amount }} {{ payment.currency }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    {% if payment %}
                        <div class="payment-info mb-4 p-3 border rounded bg-light mx-auto" style="max-width: 500px;">
                            <h5 class="mb-3">{% trans "Payment Details" %}</h5>
                            <table class="table table-borderless">
                                <tr>
                                    <td class="text-start">{% trans "Payment Method" %}:</td>
                                    <td class="text-end">{{ payment.payment_method.name }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">{% trans "Amount" %}:</td>
                                    <td class="text-end">{{ payment.amount }} {{ payment.currency }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">{% trans "Transaction ID" %}:</td>
                                    <td class="text-end">{{ payment.id }}</td>
                                </tr>
                                <tr>
                                    <td class="text-start">{% trans "Payment Time" %}:</td>
                                    <td class="text-end">{{ payment.completed_at|date:"Y-m-d H:i:s" }}</td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                    
                    <div class="mb-4">
                        <p>{% trans "The item owner will be notified and will process your purchase as soon as possible." %}</p>
                        <p>{% trans "Transaction record has been saved in our system and you can view it anytime." %}</p>
                    </div>
                    
                    <div class="d-grid gap-2 col-md-8 mx-auto">
                        <a href="{% url 'wishlist_detail' pk=wishlist_item.wishlist.id %}" class="btn btn-primary btn-lg">
                            {% trans "Return to Wishlist" %}
                        </a>
                        <a href="{% url 'home' %}" class="btn btn-outline-secondary">
                            {% trans "Return to Homepage" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 